.footer {
    background-color: var(--primary);
    color: var(--text-color);
    padding-block: 5%;
    width: 100vw;
}

.footer-container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer-logo img {
    max-width:100px
}

.footer-logo p {
    color: var(--surface);
}

.footer-links {
    display: flex;
    gap: 3rem;
}

.footer-links h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.4rem;
}

.footer-links a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 0.95rem;
}

.footer-links a:hover {
    color: var(--text-color);
}

.footer-bottom {
    margin-top: 2rem;
    text-align: center;
    border-top: 1px solid var(--surface);
    padding-top: 1rem;
    font-size: 0.85rem;
    color: var(--surface);
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}