.btn-secondary {
    background-color: var(--surface);
    color: var(--text-color);
    border: var(--secondary) solid 2px;
    border-radius: 5px;
    align-items: center;
 
}

.btn-secondary:hover {
    background-color: var(--primary);
    color: var(--text-color);
}