.mockup-section {
    background: white;
    width: 100vw;
    padding-block: 5%;
}

.mockup-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}

.mockup-text {
    flex: 1;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.mockup-text h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.mockup-text h2 span {

    color: var(--secondary);
}

.mockup-text p {
    font-size: 1rem;
    white-space: normal;
    color: var(--muted-text);
}

.mockup-image {
    flex: 1;
    max-width: 500px;

}

.mockup-image img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .mockup-content {
        flex-direction: row;
        text-align: left;
    }

    .mockup-text h2 {
        font-size: 3rem;
    }

    .mockup-text {
        text-align: left;
    }
}