.hero {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    width: 90vw;
}

.hero-content {
    flex: 1;
    min-width: 280px;
    padding: 5%;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--text-color);
}

.highlight {
    color: var(--secondary);
}

.hero-subtitle {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--muted-text);
    max-width: 500px;
}

.hero-btn {
    margin-top: 2rem;
    background-color: var(--text-color);
    color: var(--text-color-white);
    padding: 0.9rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero-btn:hover {
    background-color: #000;
}

.hero-image {
    width: 650px;
    text-align: left;
}

.hero-image img {

    max-width: 100%;
    height: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 5%;
        padding-top:30%;
    }

    .hero-title {
        font-size: 2.2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
        white-space: normal;
    }

    .hero-content {
        order: 2;
        justify-content: center;
        width: 100%;
        padding: 5%;
    }

    .hero-image {
        order: 1;
        width: 100%;
    }

    .hero-btn {
        width: 100%;
        text-align: center;
    }
}