.popover-button {
    padding: 10px;
    background-color: var(--secondary);
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
}


.popover-button-close {
    position: absolute;
    top: 0;
    right: 5px;
    color: var(--text-color);
    background: none;

}

/* Conteneur du pop-over */
.popover {
    position: absolute;
    bottom: 30px;
    /* Positionné au-dessus du bouton */
    right: 0;
    transform: translateX(-30%);
    width: 200px;
    padding: 15px;
    background-color: var(--surface);
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--shadow-color);

    /* Caché par défaut */
    z-index: 1000;
}


/* Arrière-plan pour désactiver le reste de la page */
.popover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Caché par défaut */
    z-index: 999;
}

.popover-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

@media (max-width: 480px) {

    .popover-button {
        padding: 10px;
        background-color: var(--secondary);
        color: var(--text-color);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        position: fixed;
        bottom: 80px;
        right: 10px;
        z-index: 1000;
    }
    .theme-toggles{
        background:none;
        
    }
}
@media (min-width: 481px) {
    .theme-toggles{
        display:none;

    }
}