.layout-page {
    width: 100vw;
    height: 100%;
    background: var(--background-color);


}

@media (min-width:481px) {

    .layout-page {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}