
@media (max-width: 480px) {
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;        
    }
     .modal-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 5%;
        align-items: center;
        background-color: var(--surface);
        border-bottom: 1px solid var(--background-color);
    }
    .modal-content {
        width: 90%;
        height: 50%;    
        background-color: var(--surface);
        border-radius: 10px;
        overflow-y: auto;
        border-bottom: 30px var(--secondary) solid;
    }
    .modal-body{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-block: 5%;
        justify-content: center;
    }
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;
    align-items: center;
    background-color: var(--surface);
    border-bottom: 1px solid var(--background-color);
}

.modal-content {
    width: 90%;
    height: 60%;
    background-color:var(--surface);
    border-radius: 10px;
    overflow-y: auto;
    border-bottom: 30px var(--secondary) solid;
}

.modal-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-block: 5%;
    justify-content: center;
}
.close-button {
    cursor: pointer;
    background: none;
    color: var(--text-color);
    font-size: 1.5rem;
}